.login {
    display: grid;
    place-items: center;
    height: 100vh;
}

.login__container > img  {
    object-fit: contain;
    height: 200px;
}

.login__container {
    display: flex;
    flex-direction: column;
}

.login__button {
    border-radius: 20px;
    margin-top: 20px !important;
}